.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    top: 50px;
    position: relative;
    margin-bottom: 148px;
    background: #fff;
    border-radius: 21px;
    text-align: center;
    transition: ease all .4s;
    opacity: 1;
    box-shadow: 0 10px 20px -10px rgba(162,121,0,.3);
    width: calc(100vw - 96px);
    max-width: 360px;
    max-height: calc(100vh - 100px - 98px - 66px - 20px);
    height: calc(130vw - 96px);
    background-color: white;
    cursor: pointer;
    user-select: none;
    z-index: 5;
    font-size: 30px;
    overflow: hidden;
}

.left-top-card {
    position: absolute;
    top: 10px;
    left: 10px;
}

.right-bottom-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: scale(-1);
}

.main-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    padding: 0 48px;
    font-size: 22px;
    color: #fff;
    background: #ff0034;
    box-shadow: 0 8px 16px -4px rgba(212,0,43,.5);
    border-radius: 999px;
    margin: 24px auto;
    transition: all ease .25s;
    transform: scale(1);
    cursor: pointer;
    border: none;
}